<p> I am a full stack developer currently living in San Francisco and working for <a href="https://www.adstage.io/">AdStage</a>.</p>
<p> I use this blog to share my thoughts and interests. Currently these include Clojure, Javascript, Machine Learning, and Emacs. </p>
<hr />

<ul class="fa-ul main-list">
    <li class="main-list-item">
        <span class="fa fa-github fa-lg main-list-item-icon"></span>
        <a href="https://github.com/{{ site.author.github }}">Code</a>
    </li>
    <li class="main-list-item">
        <span class="fa fa-book fa-lg main-list-item-icon"></span>
        <a href="https://medium.com/@{{ site.author.medium }}">Writing</a>
    </li>
    <li class="main-list-item">
        <span class="fa fa-twitter fa-lg main-list-item-icon"></span>
        <a href="https://twitter.com/{{ site.author.twitter }}">Thoughts</a>
    </li>
    <li class="main-list-item">
        <span class="fa fa-linkedin fa-lg main-list-item-icon"></span>
        <a href="https://www.linkedin.com/in/{{ site.author.linkedin }}">Resume</a>
    </li>
    <li class="main-list-item">
        <span class="fa fa-envelope fa-lg main-list-item-icon"></span>
        <a href="mailto:{{ site.author.email }}">Contact</a>
    </li>
</ul>


